<section class="about">
    <div class="about__parallax"></div>

    <div class="about__text-box typography-text">
        <div class="about__text-box--section">
            <h2 class="heading-secondary wow fadeInRight">PasTrack</h2>
            <p class="wow fadeInRight" data-delay-duration=".2s">
                PasTrack est une application mobile design qui permet de récupérer des informations selon vos
                déplacements.
                Elle est disponible sur
                <span class="google">Google Play</span>
                et sur
                <span class="apple">App Store</span>.
                Vous récupérerez vos informations santé ainsi que votre trajet de la journée.
            </p>
        </div>
    </div>
</section>

