<section class="body">

    <div class="body__arrow">
        <a href="#informations"><img src="../../assets/img/darr.svg" alt="Down arrow" class="darr"></a>
    </div>

    <div class="about">

        <div class="about__parallax"></div>

        <div class="about__text-box typography-text" id="body">
            <div class="about__text-box--section">
                <h2 class="heading-secondary wow fadeInRight">PasTrack
                    <img src="../../assets/img/stars.png" alt="Rate stars" class="stars">
                </h2>
                <hr class="underline wow fadeInRight" data-wow-delay=".2s"/>
                <p class="wow fadeInRight" data-wow-delay=".25s" id="phone-end">
                    PasTrack est une application mobile design qui permet de récupérer des informations selon vos
                    déplacements.
                    Elle est disponible sur
                    <span class="google">Google Play</span>
                    et sur
                    <span class="apple">App Store</span>.
                    Vous récupérerez vos informations santé ainsi que votre trajet de la journée.
                </p>
            </div>
        </div>

    </div>
</section>
