// COLORS
$color-primary: #FFE43C;
$color-primary-light: #E8E22C;
$color-primary-dark: #E8BC2C;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #d3d3d3;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-btn-disconnect: #17a2b8;
$color-btn-disconnect-hover: #0E82CF;

$color-btn-delete: #d2322d;
$color-btn-delete-hover: #E84825;

$color-btn-edit: #52adf2;
$color-btn-edit-hover: #406FDB;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
