<section class="dashboard">
    <div class="card">
        <div class="card__disconnect">
            <a href="http://localhost:4200/">Déconnexion</a>
        </div>
        <h1 class="card__title">Dashboard - Gestion des utilisateurs</h1>
        <div class="table-content">
            <table class="card_table" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created_at</th>
                    <th>Updated_at</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>email@gmail.com</td>
                    <td>User</td>
                    <td>05/03/2020</td>
                    <td>07/03/2020</td>
                    <td>
                        <button class="edit">Edit</button>
                    </td>
                    <td>
                        <button>Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>email@gmail.com</td>
                    <td>User</td>
                    <td>05/03/2020</td>
                    <td>07/03/2020</td>
                    <td>
                        <button class="edit">Edit</button>
                    </td>
                    <td>
                        <button>Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>email@gmail.com</td>
                    <td>User</td>
                    <td>05/03/2020</td>
                    <td>07/03/2020</td>
                    <td>
                        <button class="edit">Edit</button>
                    </td>
                    <td>
                        <button>Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>email@gmail.com</td>
                    <td>User</td>
                    <td>05/03/2020</td>
                    <td>07/03/2020</td>
                    <td>
                        <button class="edit">Edit</button>
                    </td>
                    <td>
                        <button>Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>email@gmail.com</td>
                    <td>User</td>
                    <td>05/03/2020</td>
                    <td>07/03/2020</td>
                    <td>
                        <button class="edit">Edit</button>
                    </td>
                    <td>
                        <button>Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>email@gmail.com</td>
                    <td>User</td>
                    <td>05/03/2020</td>
                    <td>07/03/2020</td>
                    <td>
                        <button class="edit">Edit</button>
                    </td>
                    <td>
                        <button>Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>email@gmail.com</td>
                    <td>User</td>
                    <td>05/03/2020</td>
                    <td>07/03/2020</td>
                    <td>
                        <button class="edit">Edit</button>
                    </td>
                    <td>
                        <button>Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>email@gmail.com</td>
                    <td>User</td>
                    <td>05/03/2020</td>
                    <td>07/03/2020</td>
                    <td>
                        <button class="edit">Edit</button>
                    </td>
                    <td>
                        <button>Supprimer</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
