
.navbar {
  position: fixed;
  width: 20%;
  height: 100%;
  background-image: url("src/assets/img/dashboard.jpg");
  background-position: center;
  background-size: cover;
  background-color: white;

  box-shadow: 0 1.5rem 4rem rgba($color-black, .4);

  &__white-opacity {
    background-color: $color-white;
    height: 100%;
    opacity: 90%;
  }

  &__logo {
    width: 10rem;
    margin: 0 auto;
    padding-top: 2rem;
  }

  &__hr {
    border: 1px solid $color-grey-light-1;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }

  &__list {
    width: 100%;
    padding: 20px;
    list-style: none;
    text-align: center;

    li {
      padding: 10px 0 10px 0;
      margin: 10px 0 10px 0;
      border-radius: 5px;

      &:hover {
        background-color: $color-grey-light-1;
      }
    }

    img {
      width: 15%;
      display: block;
      float: left;
      padding-left: 10px;
    }

    a {
      text-decoration: none;
      color: $color-grey-dark;
      font-size: 1.5rem;
      text-align: left;
      padding-left: 20px;
      width: 10%;
      display: inline-block;
      float: left;
      line-height: 40px;
    }
  }
}
