<section class="interface">

    <div class="navbar">
        <div class="navbar__logo">
            <img src="../../assets/img/logo-pastrack.svg" alt="Logo">
        </div>

        <hr class="navbar__hr"/>

        <ul class="navbar__list">
            <li>
                <img src="../../assets/img/graph.svg" alt="Graph">
                <a href="">Graphique</a>
            </li>
            <li>
                <img src="../../assets/img/profil.svg" alt="Profil">
                <a href="">Profil</a>
            </li>
            <li>
                <img src="../../assets/img/settings.svg" alt="Settings">
                <a href="">Paramètres</a>
            </li>
            <li>
                <img src="../../assets/img/logout.svg" alt="Logout">
                <a href="">Déconnexion</a>
            </li>
        </ul>
    </div>


</section>