@import "src/styles";

.informations {
  height: 100vh;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: brightness(40%);
    overflow: hidden;

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__graph {
    width: 50%;
    height: 100vh;
    background-color: rgba(255,255,255, .8);

    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);

    position: relative;
    float: right;

    .display {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFFFFF;
    }
  }

  &__text-box {
    width: 50%;
    height: 100%;

    float: left;
    position: relative;
    color: #FFFFFF;

    &--section {
      width: 100%;
      padding: 50px;

      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


.graph {
  width: 100%;
  height: 100vh;

  position: relative;
  background-color: #333333;

  &__arrow {
    width: 40px;
    position: absolute;
    bottom: 2.5vh;
    left: 2.5vh;
    z-index: 9998;
    cursor: pointer;
  }
}
