<section class="informations">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="../../assets/img/video.mp4" type="video/mp4">
            <source src="../../assets/img/video.webm" type="video/webm">
            Your browser is not supported!
        </video>
    </div>

    <div class="informations__graph">
        <div class="display">
            <div style="display: block">
                <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType">
                </canvas>
            </div>
        </div>
    </div>

    <div class="informations__text-box typography-text">
        <div class="informations__text-box--section">
            <h2 class="heading-secondary wow fadeInLeft">Lorem ipsum</h2>
            <p class="wow fadeInLeft" data-delay-duration=".2s">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Ab accusamus, alias
                aspernatur assumenda distinctio
                eum eveniet fugit hic laboriosam maiores nesciunt obcaecati perspiciatis quibusdam, quod recusandae
                repellendus saepe, tempora voluptate.
            </p>
        </div>
    </div>
</section>
