<section class="graph">

    <div class="graph__arrow">
        <a href="#footer"><img src="../../assets/img/darr.svg" alt="Down arrow"></a>
    </div>

    <div class="informations">
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="../../assets/img/video.mp4" type="video/mp4">
                <source src="../../assets/img/video.webm" type="video/webm">
                Your browser is not supported!
            </video>
        </div>

        <div class="informations__graph wow fadeInRight" data-wow-delay="1.5s">
            <div class="display">
                <div style="display: block; color: white">
                    <canvas baseChart
                            [datasets]="radarChartData"
                            [labels]="radarChartLabels"
                            [chartType]="radarChartType">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="informations__text-box typography-text" id="informations">
            <div class="informations__text-box--section">
                <h2 class="heading-secondary text-align-right wow fadeInLeft">Statistiques</h2>
                <hr class="underline wow fadeInLeft" data-wow-delay=".2s"/>
                <p class="wow fadeInLeft" data-delay-duration=".2s">PasTrack permet aussi de récupérer vos informations
                    de parcours pour en faire des
                    <span class="informations-bold">statistiques sous forme de graphique. </span>Vous pourrez facilement
                    connaître
                    <span class="informations-bold">le nombre de pas </span>que vous avez fait,
                    <span class="informations-bold">les kilomètres parcourus </span>et vos
                    <span class="informations-bold"> pertes caloriques </span>en fonctions
                    de vos
                    informations personnelles
                    de santé.
                </p>
            </div>
        </div>
    </div>
</section>