<footer class="footer">
    <div class="footer__logo-box wow fadeIn" data-wow-delay=".25s">
        <img src="../../assets/img/logo-pastrack.svg" alt="Full logo" class="footer__logo">
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer__navigation wow fadeInLeft" data-wow-delay=".25s" id="footer">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Mentions légales</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Politique de confidentialité</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Conditions générales d'utilisation</a></li>
                </ul>
            </div>
        </div>

        <div class="col-1-of-2">
            <p class="footer__copyright wow fadeInRight" data-wow-delay=".25s">
                Built by <a href="#" class="footer__link"> PasTrack </a> for his online course. <br/>
                Copyright &copy; 2020 tout droits réservé.
            </p>
        </div>
    </div>
</footer>