<header class="header wow fadeIn" data-wow-delay=".5s">
    <div class="header__logo-box">
        <img src="../../assets/img/logo-pastrack.svg" alt="Logo" class="header__logo">
    </div>

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Pastrack</span>
            <span class="heading-primary--sub"> the app for your lobby</span>
        </h1>

        <a href="#" class="btn btn--white">Discover our app</a>
    </div>

    <div class="header__available">
        <span class="heading-secondary--main">Available on :</span>
        <div class="header__available__img-box">
            <a href="#"><img src="../../assets/img/apple-btn.png" alt="Apple"></a>
            <a href="#"><img src="../../assets/img/google-btn.png" alt="Google"></a>
        </div>
    </div>

    <img src="../../assets/img/smartphone-parallax.png" alt="Smartphone" class="header--img" id="target">
</header>
