<header class="header">
    <div class="header__logo-box">
        <img src="../../assets/img/logo-pastrack.svg" alt="Logo" class="header__logo">
    </div>

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Pastrack</span>
            <span class="heading-primary--sub"> the app for your lobby</span>
        </h1>

        <a href="#" class="btn btn--white">Discover our app</a>
    </div>

    <div class="header__smartphone">
        <img src="../../assets/img/1.png" alt="Smartphone" class="header__smartphone__size header__smartphone__size--1">
        <img src="../../assets/img/2.png" alt="Smartphone" class="header__smartphone__size header__smartphone__size--2">
        <img src="../../assets/img/3.png" alt="Smartphone" class="header__smartphone__size header__smartphone__size--3">
    </div>
</header>
