<header class="header wow fadeIn">

    <div class="header__logg">
        <a routerLink="/connexion" class="header__logg--login">Se connecter</a>
        <a routerLink="/inscription" class="header__logg--register">S'inscrire</a>
    </div>

    <div class="header__logo-box">
        <img src="../../assets/img/logo-pastrack.svg" alt="Logo" class="header__logo">
    </div>

    <div class="header__text-box wow fadeIn" data-wow-delay=".25s">
        <h1 class="heading-primary">
            <span class="heading-primary--main ">Le suivi de vos parcours simplifié avec </span>
            <span class="heading-primary--sub">PasTrack</span>
        </h1>

        <a href="#body" class="btn wow fadeIn" data-wow-delay=".2s">Découvrez notre application &darr;</a>
    </div>

    <div class="header__available">
        <span class="heading-secondary--main wow fadeIn" data-wow-delay=".3s">Disponible sur :</span>
        <div class="header__available__img-box wow fadeIn" data-wow-delay=".4s">
            <a href="#"><img src="../../assets/img/apple-btn.png" alt="Apple"></a>
            <a href="#"><img src="../../assets/img/google-btn.png" alt="Google"></a>
        </div>
    </div>

    <div id="phone">
        <img src="../../assets/img/smartphone-parallax.png" alt="Smartphone" class="header--img wow fadeIn"
             data-wow-delay=".5s" id="target">
    </div>

    <div class="header__arrow">
        <a href="#"><img src="../../assets/img/tarr.svg" alt="Top arrow"></a>
    </div>
</header>

<app-body></app-body>

<app-informations></app-informations>

<app-footer></app-footer>

