@import "src/styles";

.header {
  height: 100vh;
  width: 100%;

  position: relative;

  &__logg {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;


    &--login,
    &--register {
      text-decoration: none;
      font-size: 2rem;
      color: black;
      padding: 1rem;

      @include transition;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__logo-box {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__logo {
    height: 10rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .pastrack {
      font-weight: 900;
    }

    .btn {
      margin-top: 2rem;
      padding-bottom: 5px;
      display: inline-block;
      position: relative;
      font-size: 2rem;
      text-decoration: none;
      color: black;

      &:after {
        bottom: 0;
        content: "";
        height: 1px;
        left: 50%;
        position: absolute;
        background: #000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover:after {
        width: 100%;
        left: 0;
      }
    }

  }

  &__available {
    width: 25%;
    text-align: center;
    font-size: 2rem;

    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);

    img {
      width: 50%;
      padding: 10px;
    }
  }

  &--img {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 9999;
  }

  .step--gif {
    transform: rotate(45deg);
  }

  &__arrow {
    position: fixed;
    bottom: 10px;
    right: 5%;
    width: 40px;

    z-index: 10000;
  }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 800px) {
  .header--img {
    display: none;
  }
  .header__available {
    width: 75%;
    top: 70%;
    left: 50%;
  }
  .header__logo {
    width: 8rem;
  }
  .header__text-box {
    width: 75%;
  }
}
