<section class="settings">

    <div class="navbar" id="navigation">
        <div class="navbar__white-opacity">

            <div class="navbar__logo">
                <img src="../../assets/img/logo-pastrack.svg" alt="Logo">
            </div>

            <hr class="navbar__hr"/>

            <ul class="navbar__list">
                <li>
                    <img src="../../assets/img/graph.svg" alt="Graph" class="img">
                    <a routerLink="/interface">Graphique</a>
                    <div class="clear"></div>
                </li>
                <li>
                    <img src="../../assets/img/profil.svg" alt="Profil" class="img">
                    <a routerLink="/profil">Profil</a>
                    <div class="clear"></div>
                </li>
                <li>
                    <img src="../../assets/img/settings.svg" alt="Settings" class="img">
                    <a routerLink="/parametres">Paramètres</a>
                    <div class="clear"></div>
                </li>
                <li>
                    <img src="../../assets/img/logout.svg" alt="Logout" class="img">
                    <a href="">Déconnexion</a>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>

</section>
